.pdp-gradient {
  background: radial-gradient(54.81% 54.81% at 50.19% 76.11%, #003EA1 47.12%, rgba(0, 84, 219, 0.00) 100%), radial-gradient(65.04% 65.04% at 50.19% 76.11%, #5D9BFF 58.17%, rgba(93, 155, 255, 0.00) 100%), linear-gradient(0deg, rgba(38, 33, 77, 0.10) 0%, rgba(38, 33, 77, 0.10) 100%), rgba(0, 84, 219, 0.20);
  background-blend-mode: normal, normal, normal, overlay;
}

.icons-mask {
  mask: radial-gradient(49.94% 71.01% at 50.06% 61.45%, #D9D9D9 0%, rgba(115, 115, 115, 0.00) 100%);
}

@keyframes float {

  0%,
  100% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(-10px);
  }
}

.hero-icons>g,
.hero-icons>path {
  animation: float 6s ease-in-out infinite;
  transform-box: fill-box;
  transform-origin: center;
}

.hero-icons>*:nth-child(4n+1) {
  animation-duration: 7s;
  animation-delay: -1s;
}

.hero-icons>*:nth-child(4n+2) {
  animation-duration: 8s;
  animation-delay: -3s;
}

.hero-icons>*:nth-child(4n+3) {
  animation-duration: 6s;
  animation-delay: -1.5s;
}

.hero-icons>*:nth-child(4n+4) {
  animation-duration: 9s;
  animation-delay: -4s;
}