@import "tailwindcss";

@font-face {
  font-family: "VL-Sentient";
  font-style: italic;
  font-weight: all;
  src: url("/fonts/Sentient-MediumItalic.woff") format("woff");
}

:root {
  --background: #E1E7F0;
  --foreground: #26214D;
  --primary: #0054DB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --primary: var(--primary);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .vl-highlight {
    background: linear-gradient(92deg, var(--primary) 49.91%, #5d9bff 99.93%);
    color: #fff;
    letter-spacing: -.1rem;
    border-radius: 7px;
    margin: 0 0.3rem;
    line-height: 100%;
    padding: 0.3rem 0.6rem;
    font-family: 'VL-Sentient';
    font-style: italic;
    font-weight: 500 !important;
    leading-trim: both;
    text-edge: cap;
    display: inline-block !important;
  }

  .vl-light {
    background: rgba(0, 84, 219, 0.16);
    color: var(--primary);
  }

  .link {
    color: var(--primary) !important;
    font-weight: 600 !important;
    text-decoration: none;
    text-underline-offset: 3px;
  }

  .link:hover {
    text-decoration: underline;
  }
}

.gradient-bg {
  background: linear-gradient(180deg, #91B3E9 0%, #CFDAEE 51.92%, #E1E7F0 100%);
  position: fixed;
  z-index: -999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50%;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}